:root { 
  --black-color: #272A31;
  --orange-color:#EC5242; 
  --grey-color:#D3D3D3;
} 

/* first section */
#event-name{
  color: var(--orange-color);
}

.jumbotron {
  position: relative;
  background:none;
}
.jumbotron:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./assets/images/bg-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}